<!DOCTYPE html>
<html>
<head>
    <title>Fitness Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/analytics/">Analytics</a></li>
            <li><a href="/goals/">Goals</a></li>
            {% if user.is_authenticated %}
            <li class="logout-link"><a href="/accounts/logout/">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>